html{
  background-color: black;
}
.wrapper {
  position: absolute;
  width: 31%;
  height: 50%;
  bottom: 0;
  /* left: 0; */
  right: 0;
  /* top: 0; */
  /* background-color: black; */
}

img.cliente {
  /* background-color: pink; */
  width: 20%;
}

.global_map {
  width:100%;
  position: absolute;
  top: 15%;
  /* left: 10%; */
  /* right: 10%; */
  bottom: 5%;
  z-index: 1;
  /* background-color: red; */
}

.datamap {
  all: unset;
}

.name {
  color: white;
  font-family: arial;
}


/* .subheader {
  position: absolute;
  top: 0%;
  left: 15%;
  right: 15%;
  z-index: 2;
  width: auto;
  text-align: center;
  font-size: 1vw;
  background-color: blue;
} */

.timer {
  color: white;
  position: absolute;
  bottom: 0%;
  left: 0.5%;
  width: auto;
  /* background-color: green; */
  font-size: 2vw;
  z-index: 3;
  font-family: arial;
}

.attack_console {
  position: absolute;
  /* background-color: orange; */
  height: 34.5%;
  width: 20.5%;
  bottom: -1%;
  left: 1%;
  z-index: 3;
  font-size: 1.5%;
  color: white;
  overflow-y: auto;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



.left {
    position: absolute;
    left: 0;
    /* background-color: red; */
}

.top {
    position: absolute;
    /* background-color: blue; */
    top: 0;
}

.right {
    position: absolute;
    /* background-color: orange; */
    right: 0;
}

.bot {
    position: absolute;
    /* background-color: purple; */
    bottom: 0;
}

.mid {
    /* background-color: green; */
    margin-left: 30%;
    margin-right: auto;
}

.tile{
  width: 31vw;
  height: 50%;
  text-align: center;
}

.bot.mid.tile {
    /* background-color: yellow; */
}

.mid.tile {
    width: 39vw;
}


p {
    margin-top: 25%;
    font-size: -webkit-xxx-large;
    color: white;
    font-family: arial;
}

#pais {
    font-size: 6vw;
    margin-top: -2vw;
}
#counter {
    font-size: 10vw;
    margin-top: -5vw;
}

img.cliente {
  /* background-color: pink; */
  width: 20%;
}

.global_map {
  position: absolute;
  top: 20%;
  left: 0%;
  right: 0%;
  bottom: 5%;
  z-index: 1;
  /* background-color: red; */
}

.datamap {
  all: unset;
}

.name {
  color: white;
  font-family: arial;
}

.subheader {
  position: absolute;
  top: 3vw;
  left: 0%;
  right: 0%;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 1vw;
  background-color: transparent;
}


.attack_console {
  position: absolute;
  /* background-color: orange; */
  height: 30vw;
  width: 20.5vw;
  bottom: -1vw;
  left: 1vw;
  z-index: 3;
  font-size: 1.5vw;
  color: white;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.banner {
  width: 95%;
  height: 5vw;
  position: absolute;
  top: 0;
  left: 2.5%;
}

img {
  height: inherit;
}
.cliente1{
  left: 0;
}
.cliente4{
  right: 0;
}
.cliente2{
  left: 30%;
}
.cliente3{
  top: -1.5vw;
  height: 8vw;
  right: 22%;
  width: auto;
}
.logo{
  position: absolute;
}
