html { overflow-y: hidden; }

body {
  margin: 0;
  padding: 0;
  background: black;
}

#attackdiv {
  font-family: monospace;
  font-size:1.5em;
  position:fixed;
  width:30%;
  height:10em;
  color:white;
  background-color:black;
  padding:5px;
  bottom:0px;
  overflow-y: auto;
  overflow: hidden;
  margin-bottom: auto;
  margin-left: 1em;
  z-index:5;
  border-style: solid;
  border-color: green;
  border-width: thin;
}

#container1 {
	z-index: 0;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 90vh;
	max-width:100%;
	max-height:100%
}

#about {
  display: hidden;
}

#aboutdiv {
  text-align:right;
  width:100px;
  height:100px;
  top:0px;
  right:0px;
  position:fixed;
  padding:10px;
  color: white;
}

#ccdiv {
  visibility:hidden;
  text-align:right;
  width:100px;
  height:20px;
  bottom:0px;
  right:0px;
  position:fixed;
  padding:5px;
  color: white;
}

#about {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:460px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-container a.modalCloseImg {
  background:url(img/x.png) no-repeat; /* adjust url as required */
  width:25px;
  height:29px;
  display:inline;
  z-index:3200;
  position:absolute;
  top:-15px;
  right:-18px;
  cursor:pointer;
}

#container1 img {
  width: auto;
  height: auto;
  background: white;
}

#header {
	position: absolute;
	top: 0;
	text-align: right;
	font-family: monospace;
	font-size:30px;
	height:54px;
	width:100%;
	color:white;
	background-color:black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

#header h1 {
	margin: 0;
	text-align: center;
	font-family: monospace;
	font-size:50px;
	height:54px;
	width:80%;
	color:white;
	background-color:black;
	overflow-y: auto;
	overflow: hidden;
	margin-left: auto;
    margin-right: auto;
 
}
#container2 h1 {
	position: fixed;
	text-align: right;
	font-family: monospace;
	font-size:4em;
	height:auto;
	width: auto;
	color:white;
	background-color:black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	bottom: 0;
	right: 0;
	
}
#header img.cliente{
	  position: absolute;
	  top: 5px;
	  left: 20px;
	  background-color: transparent;
	  width: 20%;
}

#header img.mp{
	  position: absolute;
	  right: 0px;
	  background-color: transparent;
	  width: 15%;
/*
	  margin-bottom = "0px";
*/

}
