[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.23.4"
pgcli = "==2.0.0"
"psycopg2-binary" = "==2.7.5"
requests = "==2.20.0"
xmltodict = "==0.11.0"
SQLAlchemy = "==1.2.13"

[dev-packages]

[requires]
python_version = "3.6"
