[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
xmltodict = "*"
"urllib3" = "*"
sqlalchemy = "*"
"psycopg2" = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.6"
